@keyframes ping {
	75%,
	100% {
		transform: scale(4);
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-in {
	0% {
		opacity: 1;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.anim-ping {
	animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.anim-fade-in {
	opacity: 0;
	animation: fade-in 2s cubic-bezier(0.75, 0, 0.25, 1) forwards;
}

.anim-slide-in {
	transform: translateX(100%);
	opacity: 0;
	animation: slide-in 2s cubic-bezier(0.75, 0, 0.25, 1) forwards;
}

.anim-slide-in:nth-child(1) {
	animation-delay: 0s;
}

.anim-slide-in:nth-child(2) {
	animation-delay: 0.25s;
}

.anim-slide-in:nth-child(3) {
	animation-delay: 0.5s;
}

.line-gradient {
	background-image: linear-gradient(
		180deg,
		rgba(38, 38, 38, 0) 0%,
		rgb(38 38 38) 15%,
		rgb(38 38 38) 85%,
		rgba(38, 38, 38, 0) 100%
	);
}
