---
import { Base } from '../layouts/index.astro';
import { Grid, Nav, CaseList, About, Footer } from '../components/index.astro';
---

<Base>
	<div class='w-full px-[20px] mid:px-[120px] grid mid:grid-cols-2'>
		<Grid />
		<Nav />

		<div class='min-h-screen pt-[25vh] mid:pt-[50vh] pb-36'>
			<div class='anim-fade-in | block mb-36 mid:hidden'>
				<About />
			</div>
			<CaseList />
			<Footer />
		</div>
		<div
			class='anim-fade-in | fixed right-0 w-1/2 h-full pt-[50vh] max-mid:hidden'
		>
			<About />
		</div>
	</div>
</Base>
