---
import Base from '../layouts/base.astro';

import Grid from '../components/grid.astro';
import Nav from '../components/nav.astro';
import AustriaFlag from '../components/austria-flag.astro';

// import CaseCard from '../components/case-card.astro';
---

<Base>
	<div class='w-full px-[120px] grid grid-cols-2'>
		<Grid />
		<Nav />

		<div class='min-h-screen py-[50vh] pb-[30vw]'>
			<h1 class='text-2xl animate-pulse'>Work comes soon</h1>
			<!-- <div class='space-y-36'>
					{projects.map((project) => <CaseCard {...project} />)}
				</div> -->
		</div>
		<div class='fixed right-0 w-1/2 h-full space-y-12 pt-[50vh]'>
			<h1
				class='font-light text-2xl tracking-[-0.05rem] flex items-center gap-x-2'
			>
				Creative developer from Linz
				<AustriaFlag />Austria
			</h1>
			<p class='text-neutral-500 text-xl font-light'>
				Passionate junior developer creating <br />
				 innovative solutions through code.
			</p>
		</div>
	</div>
</Base>
