---
import { AustriaFlag } from '../components/index.astro';
---

<div class='space-y-12'>
	<h1 class='font-light text-2xl tracking-[-0.05rem]'>
		Creative developer
		<br class='block bot:hidden' />
		 from Linz
		<AustriaFlag />Austria
	</h1>
	<p class='text-neutral-500 text-xl font-light'>
		Passionate junior developer creating <br class='hidden bot:block' />
		 innovative solutions through code.
	</p>
</div>
