---
import type { Project } from '../types.ts';

interface Props extends Project {
	index: number;
}

const { title, url, branch, tags, index } = Astro.props;
---

<div class='anim-fade-in | flex items-start gap-x-16'
	style=`animation-delay: ${index * 0.1}s`
>
	<div class='space-y-1'>
		<a
			href={url}
			target='_blank'
			rel='noopener noreferrer'
			class='text-2xl tracking-[-0.05rem]'>{title}</a
		>
		<p class='text-xs uppercase text-neutral-500'>{branch}</p>
	</div>
	<ul class='space-y-2'>
		{tags.map((tag) => <li class='uppercase text-xs'>{tag}</li>)}
	</ul>
</div>
