<div class='space-y-12'>
  <h2 class='font-light text-2xl tracking-[-0.05rem]'>Let's get started</h2>
  <p class='text-neutral-500 text-xl font-light max-w-lg leading-relaxed'>
    either contact me <a class='underline' href='mailto:bnm.wag@gmail.com'
      >direct</a
    >
    <!-- <br class='hidden bot:block' /> -->
     , fill out the form
    <span class='mid:inline-block hidden'>left</span>
    <span class='inline-block mid:hidden'>below</span>
     or book a
    <button
      class='underline'
      data-cal-link='bnmwag/30min'
      data-cal-config='{"layout":"month_view"}'
    >
      30 minute call
    </button>
     to discuss your project.
  </p>
</div>

<script type='text/javascript'>
  (function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement("script")).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          typeof namespace === "string"
            ? (cal.ns[namespace] = api) && p(api, ar)
            : p(cal, ar);
          return;
        }
        p(cal, ar);
      };
  })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", { origin: "https://cal.com" });

  // Important: Please add following attributes to the element you want to open Cal on click
  // `data-cal-link="bnmwag/30min"`
  // `data-cal-config='{"layout":"month_view"}'`

  Cal("ui", {
    styles: { branding: { brandColor: "#000000" } },
    hideEventTypeDetails: false,
    layout: "month_view",
  });
</script>
