<div class='space-y-12'>
	<h1 class='font-light text-2xl tracking-[-0.05rem]'>Let's get started</h1>
	<p class='text-neutral-500 text-xl font-light'>
		either contact me <a class='underline' href='mailto:bnm.wag@gmail.com'
			>direct</a
		>
		<!-- <br class='hidden bot:block' /> -->
		 or fill out the form <span class='mid:inline-block hidden'>left</span
		><span class='inline-block mid:hidden'>below</span>
	</p>
</div>
