<div
	class='fixed px-[120px] inset-0 -z-10 bg-black pointer-events-none flex items-center justify-between pt-[83px]'
>
	<div
		class='absolute top-[83px] left-0 bg-gradient-to-b from-[rgba(0,0,0,0.75)] to-[rgba(0,0,0,0)] h-[650px] w-full'
	>
	</div>
	<div
		class='absolute bottom-[0] left-0 bg-gradient-to-t from-[rgba(0,0,0,0.75)] to-[rgba(0,0,0,0)] h-[650px] w-full'
	>
	</div>
	<div class='w-px h-full bg-neutral-800'></div>
	<div class='w-px h-full bg-neutral-800'></div>
	<div class='w-px h-full bg-neutral-800'></div>
</div>
