<div
	class='fixed px-[40px] mid:px-[120px] inset-0 -z-10 bg-black pointer-events-none flex items-center justify-between pt-[83px]'
>
	<div class='anim-slide-in line-gradient | w-px h-full'></div>
	<div class='anim-slide-in line-gradient | w-px h-full max-mid:hidden'></div>
	<div class='anim-slide-in line-gradient | w-px h-full'></div>
</div>
