<nav
	class='fixed top-0 left-0 w-screen py-8 px-[120px] pl-[50vw] flex items-start justify-between z-50'
>
	<a href='/'>bnmwag</a>
	<div class='flex flex-col gap-y-4 items-end'>
		<a href='mailto:bnm.wag@gmail.com' class='cursor-pointer'
			>say hi - <span class='text-neutral-500'>bnm.wag@gmail.com</span></a
		>
		<div class='flex items-center gap-x-2'>
			<div class='h-2 w-2 bg-emerald-500 rounded-full'>
				<div class='anim-ping | h-2 w-2 bg-emerald-500 rounded-full'>
				</div>
			</div>
			<span class='text-emerald-500'>available for work</span>
		</div>
	</div>
</nav>
