<nav
	class='anim-fade-in | fixed top-0 left-0 w-screen py-8 px-[40px] mid:px-[120px] mid:pl-[50vw] flex items-start justify-between z-50 max-mid:backdrop-blur-lg max-mid:bg-background/25'
>
	<a href='/'>bnmwag</a>
	<div
		class='flex flex-col gap-y-4 items-end max-bot:flex-row max-bot:items-center max-bot:gap-x-2'
	>
		<a href='/contact' class='cursor-pointer'
			>say hi - <span class='text-muted-foreground max-bot:hidden'
				>bnm.wag@gmail.com</span
			></a
		>
		<div class='flex items-center gap-x-2'>
			<div class='h-2 w-2 bg-emerald-500 rounded-full'>
				<div class='anim-ping | h-2 w-2 bg-emerald-500 rounded-full'>
				</div>
			</div>
			<span class='text-emerald-500 max-bot:hidden'
				>available for work</span
			>
		</div>
	</div>
</nav>
