---
import '@/styles/globals.css';

import '@fontsource/be-vietnam-pro/100.css';
import '@fontsource/be-vietnam-pro/200.css';
import '@fontsource/be-vietnam-pro/300.css';
import '@fontsource/be-vietnam-pro/400.css';
import '@fontsource/be-vietnam-pro/500.css';
import '@fontsource/be-vietnam-pro/600.css';
import '@fontsource/be-vietnam-pro/700.css';
import '@fontsource/be-vietnam-pro/800.css';
import '@fontsource/be-vietnam-pro/900.css';

import { ViewTransitions } from 'astro:transitions';

import { Analytics } from '@vercel/analytics/react';
import { SEO } from 'astro-seo';
---

<script is:inline>
const getThemePreference = () => {
	if (
		typeof localStorage !== 'undefined' &&
		localStorage.getItem('theme')
	) {
		return localStorage.getItem('theme');
	}
	return window.matchMedia('(prefers-color-scheme: dark)').matches
		? 'dark'
		: 'theme-light';
};
const isDark = getThemePreference() === 'dark';
document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

if (typeof localStorage !== 'undefined') {
	const observer = new MutationObserver(() => {
		const isDark = document.documentElement.classList.contains('dark');
		localStorage.setItem('theme', isDark ? 'dark' : 'theme-light');
	});
	observer.observe(document.documentElement, {
		attributes: true,
		attributeFilter: ['class'],
	});
}
</script>

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<ViewTransitions />
		<SEO
			title='bnmwag'
			description='Creative developer from Linz, Austria'
			openGraph={{
				basic: {
					title: 'bnmwag',
					type: 'portfolio',
					image: 'https://f.bnmwag.dev/opengraph-image.jpg',
				},
			}}
			extend={{
				link: [
					{ rel: 'icon', href: '/favicon.svg' },
					{ rel: 'sitemap', href: '/sitemap-index.xml' },
				],
				meta: [
					{ name: 'keywords', content: 'Creative developer' },
					// prettier-ignore
					{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' },
					{ name: 'generator', content: Astro.generator },
				],
			}}
		/>
	</head>
	<body class='bg-background text-foreground font-viet'>
		<Analytics client:load />

		<slot />

		<script src='../scripts/lenis.ts'></script>
	</body>
</html>
