---
import '../styles/globals.css';

import '@fontsource/be-vietnam-pro/100.css';
import '@fontsource/be-vietnam-pro/200.css';
import '@fontsource/be-vietnam-pro/300.css';
import '@fontsource/be-vietnam-pro/400.css';
import '@fontsource/be-vietnam-pro/500.css';
import '@fontsource/be-vietnam-pro/600.css';
import '@fontsource/be-vietnam-pro/700.css';
import '@fontsource/be-vietnam-pro/800.css';
import '@fontsource/be-vietnam-pro/900.css';

import { ViewTransitions } from 'astro:transitions';

import { Analytics } from '@vercel/analytics/react';
import { SEO } from 'astro-seo';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<ViewTransitions />
		<SEO
			title='bnmwag'
			description='Creative developer from Linz, Austria'
			openGraph={{
				basic: {
					title: 'bnmwag',
					type: 'portfolio',
					image: 'https://f.bnmwag.dev/opengraph-image.jpg',
				},
			}}
			extend={{
				link: [{ rel: 'icon', href: '/favicon.svg' }],
				meta: [
					{ name: 'viewport', content: 'width=device-width' },
					{ name: 'generator', content: Astro.generator },
				],
			}}
		/>
	</head>
	<body class='bg-black text-neutral-100 font-viet'>
		<Analytics client:load />

		<slot />

		<script src='../scripts/lenis.ts'></script>
	</body>
</html>
